{% extends 'GymApp/base.html' %}
{% block title %}Абонементы — Омежка{% endblock %}

{% block content %}
<h2 class="text-center">Абонементы</h2>

<div class="row row-cols-1 row-cols-md-2 g-4 mt-4">
    {% for plan in memberships %}
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{ plan.name }}</h5>
                <p class="card-text">Цена: {{ plan.price }} ₽</p>
                <p class="card-text">{{ plan.description }}</p>
                <a href="{% url 'buy_membership' plan.id %}" class="btn btn-success">Купить</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>Абонементы пока не добавлены.</p>
    {% endfor %}
</div>
{% endblock %}
